    .navbar img{
        width: 60px;
    }

    .login-container{
        margin-top: 5%;
        margin-bottom: 5%;
        max-width: 50%;
    }
    .login-form-1{
    
        padding: 5%;
        /* padding-top: 20px; */
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }
    .login-form-1 h3{
        text-align: center;
        color: #333;

    }
    .login-form-2{
        padding: 5%;
        background: #0062cc;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    }
    .login-form-2 h3{
        text-align: center;
        color: #fff;
    }
    .login-container form{
        padding: 10%;
    }
    .btnSubmit
    {
        width: 50%;
        border-radius: 1rem;
        padding: 1.5%;
        border: none;
        cursor: pointer;
    }
    .login-form-1 .btnSubmit{
        font-weight: 600;
        color: #fff;
        background-color: #0062cc;
    }
    .login-form-2 .btnSubmit{
        font-weight: 600;
        color: #0062cc;
        background-color: #fff;
    }
    .login-form-2 .ForgetPwd{
        color: #fff;
        font-weight: 600;
        text-decoration: none;
    }
    .login-form-1 .ForgetPwd{
        color: #0062cc;
        font-weight: 600;
        text-decoration: none;
    }

    .login-container p {
        font-size: 20px;
        color: red;
        font-weight: 600;
        text-align: center;
    }

    .login-container h2 {
        color: #00B74A;
        font-size: 30px;
    }
    .login-container h4 {
        font-size: 16px;
        color: red;
     
    }


    .notice {
        padding: 15px;
        background-color: #fafafa;
        margin-bottom: 10px;
        -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
           -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
                box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    }
    .notice-sm {
        padding: 10px;
        font-size: 80%;
    }
    .notice-lg {
        padding: 35px;
        font-size: large;
    }
    
    /* Primary */
    .notice-primary {
        border-left: 6px solid #cce5ff !important;
    }
    .notice-primary>strong {
        color: #004085;
    }
    /* Secondary */
    .notice-secondary {
        border-left: 6px solid #e2e3e5 !important;
    }
    .notice-secondary>strong {
        color: #383d41;
    }
    /* Success */
    .notice-success {
        border-left: 6px solid #d4edda !important;
    }
    .notice-success>strong {
        color: #155724;
    }
    /* Information */
    .notice-info {
        border-left: 6px solid #d1ecf1 !important;
    }
    .notice-info>strong {
        color: #0c5460;
    }
    /* Warning */
    .notice-warning {
        border-left: 6px solid #fff3cd !important;
    }
    .notice-warning>strong {
        color: #856404;
    }
    /* Danger */
    .notice-danger {
        border-left: 6px solid #f8d7da !important;
    }
    .notice-danger>strong {
        color: #721c24;
    }

    .suc {
        font-size: 20px;
        color: green;
        font-weight: 600;
        text-align: center;
    }
    @media screen and (max-width: 768px){
        .login-container{
            margin-top: 5%;
            margin-bottom: 5%;
            max-width: 90%;
        }
        .login-form-1 .btnSubmit {
            font-size: 15px;
            padding: 5px;
        }
    }